Bootstrap_Flask==2.3.2
email_validator==2.1.0.post1
Flask==3.0.0
Flask_CKEditor==0.5.1
Flask_Login==0.6.3
flask_sqlalchemy==3.1.1
flask_wtf==1.2.1
libgravatar==1.0.4
SQLAlchemy==2.0.23
Werkzeug==3.0.1
WTForms==3.1.1
